@import "../shared-styles/colors.scss";

:host {
  --app-primary-color: $indigo-500-color;
  --app-secondary-color: black;

  display: block;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

app-header {
  color: #fff;
  background-color: $indigo-500-color;

  paper-icon-button {
    --paper-icon-button-ink-color: #fff;
  }
}

.drawer-list {
  margin: 0 20px;

  a {
    display: block;
    padding: 0 16px;
    text-decoration: none;
    color: var(--app-secondary-color);
    line-height: 40px;

    &.iron-selected {
      color: black;
      font-weight: bold;
    }
  }
}

.toast{
  --paper-toast-background-color: red;
  --paper-toast-color: white;
}

.toastCancel{
  color: black;
}