:host {
  display: block;

  padding: 10px;
}

.register {
  display: block;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
}