<app-location route="{{route}}"></app-location>

<div class="card login">
  <h1>Login</h1>
  <div class="login-block">
    <paper-input label=" username"><iron-icon icon = "account-circle"  slot="prefix"></iron-icon></paper-input>
    <paper-input label=" password" type="password"><iron-icon icon = "lock-outline" slot="prefix"></iron-icon></paper-input>
    <paper-button raised class="indigo">Login</paper-button>
    <paper-button class="custom gray"  on-click="register">Register</paper-button>

    <!-- <password-validator validator-name="password"></password-validator>
    <paper-input label="pwd" validator="password" auto-validate required error-message="invalid!"></paper-input> -->
  </div>
</div>
